.container {
    background-color: darkgray;
    height: 80vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chat-area {
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.input-area {
    background-color: olive;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 7%
}

input {
    width: 300px;
}

button {
    width: 50px;
}