.message-container {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    border-bottom: 1px solid black;
}

.message {
    font-size: 14px;
}
.date {
    font-size: 12px;
}